
.auth {
  display: flex;
  justify-content: center;

  &__beautiful-elements {
    &.register {
      left: 150px;
      top: 25%;
    }

    position: relative;
    width: 310px;

    &__element {
      position: absolute;
    }

    @media screen and (max-width: 720px) {
      display: none;
    }
  }
}

.forgot {
  margin-top: 30px;
}

.auth-form {
  z-index: 1;
  background: $more_back_color;
  @extend %element__card;
  padding: 18px 26px;
  width: 310px;
}
