{{#extend "default/default" title="400 Error"}}
  {{#content "main"}}
    <main class="container">
      <div class="error">
        <h1 class="error__code">404</h1>
        <h3 class="error__message">Page not found</h3>
        <a href="#" class="error__backlink">Back to chat</a>
      </div>
    </main>
  {{/content}}
{{/extend}}
