
{{#extend "default/default" title="Error 500"}}
  {{#content "main"}}
    <main class="container">
      <div class="error">
        <h1 class="error__code">500</h1>
        <h3 class="error__message">Internal server error</h3>
        <a href="#" class="error__backlink">Back to chat</a>
      </div>
    </main>
  {{/content}}
{{/extend}}
