---
array_links: ['../../style/style.css']

form_elements: [
{name: "oldpass", title: "Old password:", type: 'password', placeholder: "Enter old password"},
{name: "newpass", title: "New password:", type: 'password', placeholder: "Enter a new password" },
{name: "twonewpass", title: "Repeat new password:", type: 'password' },
]
data_top-links: [
{active: true, link: '/src/pages/chat/chat.hbs', text: '⟵ Back'},
{active: true, link: '#', text: 'Exit ⟶'}
]
---
{{#extend "default/default" title="Change password"}}
  {{#content "main"}}
    <main class="container">
      <div class="profile">
        {{> "top-links/top-links" data=data_top-links}}
        <div class="profile__info">
          {{> 'form-element/form-element' data=form_elements}}
          <div class="profile__info__btn">
            {{> 'button/button' type="submit" text="Change password"}}
          </div>
        </div>
      </div>
    </main>
  {{/content}}
{{/extend}}
